---
layout: default
title: Przepisy
---

{% if page.url == "/" %}

<!-- Site Title
================================================== -->
<div class="mainheading">
    <h1 class="sitetitle">{{ site.name }}</h1>
    <p class="lead">
        {{ site.description }}
    </p>
</div>

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Polecane</span></h2>
    </div>
    <div class="row">

    {% assign featured_posts = site.posts | where: "featured", true | sort: 'date' | reverse %}
    {% for post in featured_posts limit: 4 %}
        {% include featuredbox.html %}
    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Przepisy</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

<section>

    <div class="section-title">

        <h2><span>Tagi</span></h2>

    </div>

    <div class="row">
        <ul class="cloud" role="navigation">
            {% assign tags_list = site.tags %}
            {% if tags_list.first[0] == null %}
            {% for tag in tags_list %}
            <li><a href="{{site.baseurl}}/tag/{{ tag | url_escape | strip | replace: ' ', '-' }}" data-weight="{{ site.tags[tag].size }}">#{{ tag | camelcase }}</a></li>
            {% endfor %}
            {% else %}
            {% for tag in tags_list %}
            <li><a href="{{site.baseurl}}/tag/{{ tag[0] | url_escape | strip | replace: ' ', '-' }}"  data-weight="{{ tag[1].size }}">#{{ tag[0] | camelcase }}</a></li>
            {% endfor %}
            {% endif %}
            {% assign tags_list = nil %}
        </ul>

    </div>

</section>

