---
layout: default
title: Przepisy
---

{% if page.url == "/" %}

<!-- Site Title
================================================== -->
<div class="mainheading">
    <h1 class="sitetitle">{{ site.name }}</h1>
    <p class="lead">
        {{ site.description }}
    </p>
</div>

<!-- Featured
================================================== -->
<section class="featured-posts">
    <div class="section-title">
        <h2><span>Polecane</span></h2>
    </div>
    <div class="row">

    {% assign featured_posts = site.posts | where: "tags",  "polecam" | sort: 'date' | reverse %}
    {% for post in featured_posts limit: 4 %}
        {% include featuredbox.html %}
    {% endfor %}

    </div>
</section>

{% endif %}

<!-- Posts Index
================================================== -->
<section class="recent-posts">

    <div class="section-title">

        <h2><span>Przepisy</span></h2>

    </div>

    <div class="row listrecent">

        {% for post in paginator.posts %}

        {% include postbox.html %}

        {% endfor %}

    </div>

</section>

<!-- Pagination
================================================== -->
<div class="bottompagination">
<span class="navigation" role="navigation">
    {% include pagination.html %}
</span>
</div>

