$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

$color_1: rgba(0, 0, 0, .9);
$color_2: #333;
$color_3: #1e90ff;
$color_4: #555;
$font-family_1: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


$panel-radius: 0.55rem;
$gap_s: 1px;
$gap: 0.5rem;
$gap_l: 1rem;
$gap_xl: 2rem;
$gap_xxl: 40px;

$color_accent: gray;
$box_shadow: 1rem 1rem 2rem -5px rgba(0, 0, 0, 0.32);