{% assign post = site.posts | where:"id", include.id | first %}

<!--<br>debug: absoulute {{ post.image }}-->
{% if post.image contains "://" %}
    {% assign image-url = post.image %}
<!--    <br>debug: absoulute-->
{% else %}
<!--    <br>debug: not absoulute-->
    {% assign candidate = "/assets/images" | append: post.id | append: "/" | append: post.image %}
<!--    <br>debug: post-related candidate {{ candidate }}-->
    {% assign asset = site.static_files | where: "path", candidate | first %}
    {% if asset %}
        {% assign image-url = candidate %}
<!--        <br>debug: post-related {{ asset.path }}-->
    {% else %}
<!--        <br>debug: not post-relative-->
        {% assign candidate = post.image %}
<!--        <br>debug: site-related candidate {{ candidate }}-->
        {% assign asset = site.static_files | where: "path", candidate | first %}
        {% if asset %}
            {% assign image-url = candidate %}
<!--            <br>debug: site-related {{ asset.path }}-->
        {% else %}
<!--            <br>debug: not site-relative-->
            {% assign candidate = "/assets/images" | append: post.id | append: "/cover.jpg" %}
<!--            <br>debug: default-cover candidate {{ candidate }}-->
            {% assign asset = site.static_files | where: "path", candidate | first %}
            {% if asset %}
                {% assign image-url = candidate %}
<!--                <br>debug: default cover {{ asset.path }}-->
            {% else %}
<!--                <br>debug: not found-->
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}

<!--<br>id: {{ include.id }}-->
<!--<br>post-id: {{ post.id }}-->
<!--<br>image-post-default: {{ image-post-default }}-->
<!--<br>image-url: {{ image-url }}-->
<!--<br>site.static_files:-->
<!--{% for file in site.static_files %}-->
<!--<br> - {{ file.path }}-->
<!--{% endfor %}-->

{% if image-url %}
{% if site.lazyimages == "enabled" %}
<img class="featured-image img-fluid lazyimg" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAMAAAACCAQAAAA3fa6RAAAADklEQVR42mNkAANGCAUAACMAA2w/AMgAAAAASUVORK5CYII=" data-src="{{ image-url }}" alt="{{ post.title }}">
{% else %}
<img class="featured-image img-fluid" src="{{ image-url }}" alt="{{ post.title }}">>
{% endif %}

{% endif %}
