{{ define "main" }}
<header>
    <h1>{{ .Title }}</h1>
    <h3>{{ .Params.sub_title }}</h3>
</header>
{{ .Content }}
{{ $posts := where site.Pages "Params.tags" "intersect" (slice "polecam") }}
<section id="featured-posts">
    <header>
        <h2 data-total="{{ len $posts }}"><a href="/tags/polecam/">Polecam</a></h2>
    </header>
    {{ range first 4 $posts }}
    <article>
        {{ partial "page-cover.html" (dict "page" . "size" "350x" "no_size" true) }}
        <section>
            <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
            <p>{{ .Summary | truncate 400}}</p>
        </section>
        <footer>
            <a href="{{ .RelPermalink }}">
                <i class="fa-solid fa-circle-chevron-right more"></i>
            </a>
        </footer>
    </article>
    {{ end }}
</section>
{{ $posts := where .Site.RegularPages  "Type" "posts" }}
{{ $paginator := .Paginate $posts.ByDate.Reverse }}
<section id="posts">
    <header>
    <h2 data-total="{{ len $posts }}"><a href="/posts/">Wpisy</a></h2>
    </header>
    {{ range $paginator.Pages }}
        {{ partial "posts.html" . }}
    {{ end }}
    <footer>
        {{ partial "pagination.html" . }}
    </footer>
</section>


<section id="tags">
    <header>
        <h2>Tagi</h2>
    </header>
    {{ partial "terms-global.html" }}
</section>

{{ end }}

