{{ define "main" }}
<article>
    <header>
        <h1>{{ .Title }}</h1>
    </header>
    <figure class="cover">{{ partial "page-cover.html" (dict "page" . "size" "500x") }}</figure>
    <section class="content">
        {{ .Content }}
    </section>
    <footer>
        {{- if .Date -}}
        {{- $date := .Date | time.Format "2006-01-02" -}}
        <i class="fa-regular fa-calendar-days"></i>
        <time datetime="{{ $date }}"> {{ $date }}</time>
        {{- end }}

        {{ partial "terms-page.html" (dict "taxonomy" "tags" "page" .) }}
    </footer>
</article>
{{ end }}

{{ define "gallery" }}
    {{ $images := .Resources.Match "*.{jpg,jpeg,png,gif}" }}
    {{- if $images -}}
        {{ partial "gallery.html" ($images)}}
    {{ end -}}
{{ end }}
