{{ define "main" }}
  <article>
    <section class="content">
      <header>
        <h1>{{ .Title }}</h1>
        {{ partial "page-cover.html" (dict "page" . "size" "800x") }}
        {{- if .Date -}}
          {{- $date := .Date | time.Format "2006-01-02" -}}
        <time datetime="{{ $date }}">{{ $date }}</time>
        {{- end }}
      </header>
      {{ .Content }}
    </section>
    <section class="gallery">
    <h2>Gallery</h2>
    {{ $images := .Resources.Match "*.{jpg,jpeg,png,gif}" }}
    {{- if $images -}}
    {{ partial "gallery.html" ($images)}}
    {{ else -}}
    <p>No images found in the gallery.</p>
    {{ end -}}
    </section>
    <section class="taxonomy">
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </section>
  </article>
{{ end }}
