{{ define "main" }}

{{ $posts := where .Site.RegularPages  "Type" "posts" }}
{{ $paginator := .Paginate $posts.ByDate.Reverse 30 }}
<section id="posts">
    <header>
    <h2 data-total="{{ len $posts }}"><a href="/posts/">Wpisy</a></h2>
    </header>
    {{ range $paginator.Pages }}
    <article>
        <a href="{{ .RelPermalink }}">
            {{ partial "page-cover.html" (dict "page" . "size" "350x" "no_size" true) }}
        </a>
        <section>
            <h3><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h3>
            <p>{{ .Summary | truncate 400}}</p>
        </section>
        <footer>
            <a href="{{ .RelPermalink }}">
                <i class="fa-solid fa-circle-chevron-right more"></i>
            </a>
        </footer>
    </article>
    {{ end }}
    <footer>
        {{ partial "pagination.html" . }}
    </footer>
</section>


<section id="tags">
    <header>
        <h2>Tagi</h2>
    </header>
    {{ partial "terms-global.html" }}
</section>

{{ end }}

